@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    A D<br />
    Augusta, Ga 30909<br />
    @*<abbr title="Phone">P:</abbr>*@    
</address>

<address>
    <strong>Main Contact:</strong>   <a href="mailto:ashdev17@gmail.com">ashdev17@gmail.com</a>
</address>