@{
    ViewBag.Title = "Home Page";   
}
<html>
<head>
    <link type="text/css" href="Site.css" rel="stylesheet"></link>
</head>
<body>
    <div>
        <p>
            This Website contains math calculator which can be used to evaluate differentiation of basic trignometric functions.
            In the future, this website will provide more functionality including differentiation of trignometric functions involving
            more complex trignometric functions and the steps to derive the solutions. In additions, it will provide more user friendly
            interface for better performance. There will also be a mobile version of this website with speech recognition technology.</br>
            Click on Calculus Calculator tab in order to evaluate the first derivative of trignometric functions.
        </p>
    </div>
</body>

</html>
